{% extends 'base_notes.html' %}


{% block title %}
Create Note - {{ block.super }}
{% endblock %}


{% block content %}

<h1 class="mx-5 my-5">Create new note:</h1>

<div class="container">
    

    <div class="row align-items-start">
        <div class="col">

            <form action="{% url 'notes_create_url' %}" method="post">
            {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        {% if field.errors %}
                            <div class="alert alert-danger">
                        {{ field.errors }}
                            </div>
                        {% endif %}
                    {{ field.label }}
                    {{ field }}
                    </div>
                {% endfor %}


                <button type="submit" name="button" class="btn btn-primary">Create Note</button>
                </form>

        </div>
    </div>
</div>




{% endblock %}
