{% extends 'base_notes.html' %}

{% block title %}
    Edit Note {{ note.title }} - {{ block.super }}
{% endblock %}

{% block content %}
<h1 class="mb-2">Update this note</h1>
    <form class="" action="{{ note.get_update_url }}" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}


        <button type="submit" name="button" class="btn btn-primary">Update Note</button>
    </form>

{% endblock %}